header {
    background-color: #00ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}

header search {
    margin-right: auto;
    margin-left: 50px;
}

.logo img {
    width: 5rem;
}
